/*-------------------------------------------------HEADER----------------------------------------------*/

.navbar{
}

.icono{
  margin-bottom: 5px;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.navBotones{
  margin-left: auto;
  margin-right: 0px;
}
/*------------------------------------FIN DEL HEADER------------------------------------------*/
/*------------------------------------BIENVENIDA------------------------------------------*/

.welcome{
  margin-top: 150px; 
}
.barra{
  margin-top: 150px;
}
.iconoHome{
  width: 50px;
}
.barText{
  margin-top: 15px;
}
/*------------------------------------FIN DE BIENVENIDA------------------------------------------*/
